doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(src='/javascripts/main.js')
  header.navbar-iqthink
    div.col-md-12.header-bar
    div.col-md-12.main-navbar
      .left-side.col-md-3.col-md-offset-1
        img(src="/images/logo.png")
      .right-side.col-md-8
        a(href="/submit") Submit
        a(href="/") Search
        a(href="/about") About
  body
    block content
